@model Fiap.Web.AspNet5.ViewModel.ClientePesquisaViewModel

<h1>Clientes</h1>

@if (!String.IsNullOrEmpty((String)TempData["Mensagem"]))
{
    <div class="alert alert-warning" role="alert">@TempData["Mensagem"]</div>
}

<p class="toolbar">
    <a asp-controller="Cliente" asp-action="Novo" class="create btn btn-dark">Novo Cliente</a>
</p>

<div class="jumbotron">
    <form asp-action="Pesquisar">
        <div class="form-group">
            <label class="control-label" asp-for="ClienteNome"></label>
            <input class="form-control col-5" asp-for="ClienteNome" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="ClienteEmail"></label>
            <input class="form-control col-5" asp-for="ClienteEmail" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="RepresentanteId"></label>
            <select class="form-control col-5" asp-for="RepresentanteId" asp-items="@Model.Representantes">
                <option value="">Selecione</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
    </form>
</div>
<hr />


@if ( Model.Clientes != null && Model.Clientes.Count() > 0 ) {
<table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="name">Nome</th>
            <th data-field="email">E-mail</th>
            <th data-field="representante">Representante</th>
            <th class="actions" width="220">Ações</th>
        </tr>
    </thead>
  
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td data-field="id">@cliente.ClienteId</td>
                <td data-field="name">@cliente.Nome</td>
                <td data-field="email">@cliente.Email</td>
                <td data-field="representante">@cliente.Representante.NomeRepresentante</td>
                <td class="actions" width="220">
                    <a asp-controller="Cliente" asp-action="Detalhe" asp-route-id="@cliente.ClienteId">Detalhe</a>
                    <a asp-controller="Cliente" asp-action="Editar" asp-route-id="@cliente.ClienteId">Editar</a>
                    <a href="/Cliente/Remover/@cliente.ClienteId">Remover</a>
                </td>
            </tr>
        }
    </tbody>

</table>
}

    
